# Byte-compiled / optimized / DLL files
__pycache__
*.py[codz]
*$py.class


crawler/cainaydenhap.ipynb
crawler/cainaydenhap2.ipynb

# dbt

logs/

dbt-env/bin
dbt-env/lib
dbt-env/include
dbt-env/pyenv.cfg

dbt_cinematic_dw/target/
dbt_cinematic_dw/dbt_packages/
dbt_cinematic_dw/logs/
dbt_cinematic_dw/seeds/
dbt_cinematic_dw/snapshots/
dbt_cinematic_dw/tests/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

.DS_Store
**/.DS_Store

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py


.pdm-python
.pdm-build/


# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/


# SageMath parsed files
*.sage.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

.vscode/

# Marimo
marimo/_static/
marimo/_lsp/
__marimo__/
